<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <marketplace_vendor_general_settings>
      <general_settings>
        <vendor_default_role>vendor</vendor_default_role>
      </general_settings>
    </marketplace_vendor_general_settings>
  </default>
</config>