<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!--   <type name="Magento\Catalog\Model\Layer">
    <plugin name="vendor_product_layer_plugin" sortOrder="10" type="Vinsol\MultiVendorMarketplace\Plugin\Layer" disabled="false" />
  </type> -->

  <type name="Magento\User\Model\ResourceModel\User">
    <plugin name="admin_user_url_rewrite_plugin" sortOrder="10" disabled="false" type="Vinsol\MultiVendorMarketplace\Plugin\User"/>
  </type>

  <preference for="Vinsol\MultiVendorMarketplace\Api\Data\CategoryInterface" type="Vinsol\MultiVendorMarketplace\Model\Vendor"/>

  <preference for="Magento\Catalog\Block\Product\View\Attributes" type="Vinsol\MultiVendorMarketplace\Block\Product\Attributes"/>
  
  <!-- TO LIST ONLY ORDERS CONTAINING VENDOR PRODUCTS -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Grid\Collection" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Grid\Collection"/>

  <!-- TO LIST ONLY ITEMS IN ORDER BELONGING TO CURRENT VENDOR -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Item\Collection" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Item\Collection"/>

  <!-- TO SAVE RECORD IN VENDOR_INVOICE TABLE ON INVOICE CREATION -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Invoice" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Invoice"/>

  <!-- TO LIST ONLY INVOICES GENERATED BY VENDORS -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid\Collection" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Invoice\Grid\Collection" />

  <!-- TO LIST ONLY CURRENT VENDOR PRODUCTS IN INVOICE SUBTOTAL -->
  <!-- <preference for="Magento\Sales\Model\ResourceModel\Order\Invoice\Item\Collection" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Invoice\Item\Collection"/> -->
  

  <!-- TO SAVE RECORD IN VENDOR_SHIPMENT TABLE ON SHIPMENT CREATION -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Shipment" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Shipment"/>

  <!-- TO LIST ONLY SHIPMENTS GENERATED BY VENDORS -->
  <preference for="Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection" type="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Order\Shipment\Grid\Collection" />



<!--   <virtualType name="Vinsol\MultiVendorMarketplace\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
     <arguments>
         <argument name="modifiers" xsi:type="array">
             <item name="default_vendor_modifier" xsi:type="array">
                 <item name="class" xsi:type="string">Vinsol\MultiVendorMarketplace\Ui\DataProvider\Product\Form\Modifier\ProductVendorModifier</item>
                 <item name="sortOrder" xsi:type="number">10</item>
             </item>
         </argument>
     </arguments>
</virtualType> -->




  <!-- <virtualType name="VinsolMultiVendorMarketplaceVendorsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
    <arguments>
      <argument name="appliers" xsi:type="array">
        <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
        <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
      </argument>
    </arguments>
  </virtualType>

  <virtualType name="VinsolMultiVendorMarketplaceVendorsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
    <arguments>
      <argument name="collection" xsi:type="object" shared="false">
        Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor</argument>
      <argument name="filterPool" xsi:type="object" shared="false">
        VinsolMultiVendorMarketplaceVendorsGridFilterPool</argument>
    </arguments>
  </virtualType> -->

<!--   <virtualType name="VinsolMultiVendorMarketplaceProductsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
    <arguments>
      <argument name="appliers" xsi:type="array">
        <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
        <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
      </argument>
    </arguments>
  </virtualType> -->

<!--   <virtualType name="VinsolMultiVendorMarketplaceProductsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
    <arguments>
      <argument name="collection" xsi:type="object" shared="false">
        Magento\Catalog\Model\ResourceModel\Product</argument>
      <argument name="filterPool" xsi:type="object" shared="false">
        VinsolMultiVendorMarketplaceProductsGridFilterPool</argument>
    </arguments>
  </virtualType> -->

  <virtualType name="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">marketplace_vendor_entity</argument>
      <argument name="resourceModel" xsi:type="string">Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor</argument>
    </arguments>
  </virtualType>
  

<!--   <type name="Vinsol\MultiVendorMarketplace\Controller\Adminhtml\Vendors\Image\Upload">
    <arguments>
        <argument name="imageUploader" xsi:type="object">Vinsol\MultiVendorMarketplace\VendorImageUpload</argument>
    </arguments>
  </type>
  <virtualType name="Vinsol\MultiVendorMarketplace\VendorImageUpload" type="Magento\Catalog\Model\ImageUploader">
    <arguments>
      <argument name="baseTmpPath" xsi:type="string">marketplace/tmp/vendor</argument>
      <argument name="basePath" xsi:type="string">marketplace/vendor</argument>
      <argument name="allowedExtensions" xsi:type="array">
        <item name="jpg" xsi:type="string">jpg</item>
        <item name="jpeg" xsi:type="string">jpeg</item>
        <item name="gif" xsi:type="string">gif</item>
        <item name="png" xsi:type="string">png</item>
      </argument>
    </arguments>
  </virtualType> -->

<!--   <virtualType name="Magento\Catalog\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
      <argument name="resourceModel" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product</argument>
    </arguments>
  </virtualType> -->

<!--   <virtualType name="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
      <argument name="resourceModel" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product</argument>
    </arguments>
  </virtualType> -->

  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="marketplace_vendors_data_source" xsi:type="string">Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor\Grid\Collection</item>
        <!-- <item name="marketplace_products_data_source" xsi:type="string">Magento\Catalog\Model\ResourceModel\Product\Grid\Collection</item> -->
        
        <!-- <item name="marketplace_products_data_source" xsi:type="string">Vinsol\MultiVendorMarketplace\Model\ResourceModel\Product\Grid\Collection</item> -->
      </argument>
    </arguments>
  </type>

  <!-- ============================================================================== -->

<!--   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="marketplace_vendors_data_source" xsi:type="string">Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor\Grid\Collection</item>
      </argument>
    </arguments>
  </type>
  <type name="Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor\Grid\Collection">
    <arguments>
        <argument name="mainTable" xsi:type="string">marketplace_vendor_entity</argument>
        <argument name="resourceModel" xsi:type="string">Vinsol\MultiVendorMarketplace\Model\ResourceModel\Vendor</argument>
    </arguments>
</type> -->
</config>